.UserData_container {
  display: flex;
  width: 100%;
  margin-top: 200px;
  flex-direction: row;
  justify-content: center;
  margin: 0%;
  z-index: 1;
  background-color: rgb(205, 204, 204);
  border: 1px solid black;
}

/* .content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0%;
  margin-top: 200px;
  color: black ;
  z-index: 1;
  background-color: rgb(109, 221, 157);
} */

.User_info_list {
  display: flex;
  /* margin: 20px; */
  padding: 20px;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

.User_info_list {
  border: 1px solid black;
  border-radius: 5px;
}
