.UserData_container {
  display: flex;
  margin-top: 200px;
  flex-direction: row;
  margin: 0%;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0%;
  margin-top: 200px;
  color: black;
  z-index: 1;
}
