* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-time {
  color: white;
  font-weight: bold;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  z-index: 10;
}

.Main_tabs_links {
  margin-left: 40px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding: 8px;
}

.Main_tabs_links:hover {
  border-bottom: 2px solid grey;
}
